In [2]:
import pandas as pd

# Figuring out the different sounds (boys only)

In [3]:
df = pd.io.parsers.read_csv('data/yob2016.txt', header=None)
df_m = df[df[1].str.match('M')]

In [4]:
df_m.head()

             0  1      2
18757     Noah  M  19015
18758     Liam  M  18138
18759  William  M  15668
18760    Mason  M  15192
18761    James  M  14776

In [6]:
df_m[0].values

array(['Noah', 'Liam', 'William', ..., 'Zyahir', 'Zyel', 'Zylyn'], dtype=object)

In [7]:
# Shit, this is hard